.start{
    padding:10px;
    background-image: linear-gradient(
        to right,
        red,green, yellow);
        text-align: center;
        margin-top: 10px;
}
.contact{
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:lightblue;
    border: 1px solid red;
    margin-left: 300px;
    margin-top: 10px;
    margin-right: 300px;
}
.container{
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 10px;
}
.flex-container{
    display:flex;
    background-color: aqua;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
}
.flex-item
{
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 20px;
    border: 1px solid red;
    margin-right: 10px;
    border-radius: 10px;
}
.flex-container2{
    display: flex;
    background-color: aqua;
}
.flexitem{
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 20px;
    border: 1px solid red;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px;
}
.fcontiner{
    display: flex;
    margin-top: 10px;
    padding: 60px;
    border: 1px solid green;
      justify-content: space-around;
      flex-direction: row;
      background-image: radial-gradient(blue,green);
      margin-top: 10px;
}
.flex-itemf{
    padding: 30px;
    color: red;
    background-color: yellow;
    border: 3px solid red;
     text-align: center;
     border-radius: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns:auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto;
    padding: 60px;
    border: 1px solid red;


}
.grid-item1{
    margin: 10px;
    background-color: yellow;
    border: 1px solid red;
    padding: 30px;
    grid-column-start: 1;
    grid-column-end:5 ;
    text-align: center;

}
.grid-item2{
        margin: 10px;
        background-color:red;
        border: 1px solid red;
        padding: 30px;
}
.grid-item3{
        margin: 10px;
        background-color: lightsteelblue;
        border: 1px solid red;
        padding: 30px;
}
.grid-item4{
        margin: 10px;
        background-color: dodgerblue;
        border: 1px solid red;
        padding: 30px;
}
.grid-item5{
        color: white;
        margin: 10px;
        background-color: black;
        border: 1px solid red;
        padding: 30px;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        text-align:center;
}
.grid-item6{
    margin: 10px;
    background-color: rgb(206, 159, 73);
    border: 1px solid red;
    padding: 30px;
    grid-row-start:3;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:4;
}
.grid-item7{
    margin: 10px;
    background-color: skyblue;
    border: 1px solid red;
    padding: 30px;
    grid-column-start:1;
    grid-column-end:5;
    text-align: center;
}